body, body body .session-authentication {background: #31383f !important; color: #fff !important; font-family: 'Karla', body sans-serif !important;}
a {color:#fff !important}
body .link-gray-dark {color:#fff !important;text-decoration:none !important;}
body .btn-link:hover {color:#fff !important; text-decoration:underline !important;}
body .text-gray-dark, body body .note {color:#dfdfdf !important;}
body .link-gray {color:#fff !important;}
body .user-profile-sticky-bar:after{background:#24292e;border:0px;}
body .filter-item.selected { background-color: #24292e !important; }
body .filter-item:hover { background-color: #272c32; }
body .subnav-item {border:0px}
body .subnav-item.selected {background-color: #24292e !important;}
body .subnav-item:hover {background-color:#272c32;}
body .muted-link {color:#fff !important}
body .muted-link:focus {outline:none !important}
body .user-status-message-wrapper > div {color:#fff}
body .p-nickname {color:#eee}
body .profile-rollup-summarized {border:0px}
body .ws-normal {color:#fff !important}
body .user-profile-nav {background:#24292e;border:0px}
body .btn, body .commit-sha, body .blankslate code, body .commit-ref, body .Label--gray {background:#1d2125 !important;border:0px !important;color:#fff !important;}
body .ellipsis-expander {background:transparent !important;border:0px !important;color:#fff !important;}
body .social-count {background:#24292e !important;border:0px !important;color:#fff !important;}
body .activity-overview-box {border-radius:5px;margin-top:2vh}
body .filter-list {background:#31383f}
body .Box {background:#24292e;border:0px !important;padding-top:6px;padding-bottom:6px;}
body .form-control, body .js-suggester-field, body .form-select {background:#272c32 !important;color:#fff !important;border-color:#1d2125  !important;}
body .topic-tag {background-color:#24292e !important;color:#fff !important;}
body .topic-tag:hover {background-color:#272c32 !important;}
body .text-gray {color:#dfdfdf !important;}
body .border, body .user-status-container-border, body .border-top, body .border-top-0, body .avatar-before-user-status, body .border-gray-dark, body .border-bottom {border:0px !important;border-color:transparent !important;}
body .bg-white {background:#24292e !important;}
body .MarketplaceBackground-buffer, body .MarketplaceBody {background:#31383f !important;}
body .pinned-item-list-item {background:#24292e;}
body .pinned-item-name {background:#24292e !important; color:#fff !important}
body .pinned-item-list-item.is-dragging {background:#272c32;}
body .octicon > path {fill: #fff !important;}
body .discussion-item-icon > svg > path {fill: #24292e !important;}
body .profile-timeline-year-list {background:transparent !important;}
body .profile-timeline-card {border:0px !important; border-radius:5px !important;border-color:transparent !important;}
body .profile-timeline-month-heading {background-color:#24292e !important;padding:8px 6px}
body .dropdown-menu {background:#24292e !important;}
body .dropdown-menu:after {border-bottom-color:#24292e !important;}
body .Popover-message {padding-top:5px;border-color:#24292e !important;}
body .dropdown-item {background-color:#24292e !important;color:#fff !important;}
body .dropdown-item:hover {background-color:#272c32 !important;}
body .bg-gray {background-color:#31383f !important;}
body .dashboard-sidebar {background-color:#2d333a !important;}
body .avatar {border:0px !important;border-radius:5px 5px 0px 0px !important;background-color:#24292e !important;}
body .AvatarStack {background-color:#24292e !important;border: 0px !important;}
body .pagehead,.orghead {background:#2d333a !important;border:0px !important;color:#fff !important;padding-bottom:2vh !important;}
body .orghead h1 {color:#fff !important;}
body .pagehead-tabs-item.selected {background:#31383f !important; color:#fff !important;border:0px;}
body .UnderlineNav-item {margin:0px 8px;padding:14px 10px;padding-right:10px;}
body .stats-switcher-viewport {background:#24292e !important;border:0px !important;color:#fff !important;border-radius:3px;}
body .overall-summary, body .repository-lang-stats-graph {border:0px !important;border-radius:0px !important;}
body .repository-lang-stats-graph .language-color:not(:first-child) {border:0px !important;}
body .repository-lang-stats-graph {background-color: #31383f !important;}
body .num {color:#fff !important;}
body .commit-tease, body .branch-infobar {background:#24292e !important;color:#fff !important;border:0px !important;}
body .js-navigation-item {background-color:#24292e;border:0px !important;}
body .file-wrap {border:0px !important;}
body table.files tr.navigation-focus td, body table.files tr[aria-selected=true] td, body .Box-row--focus-gray.navigation-focus {background-color:#272c32 !important;}
body table.files td {border:0px !important;}
body .Box-header {background:#24292e !important; border:0px !important;border-radius:0px;}
body .Box-row--hover-blue:hover {background:#2d333a !important;}
body .overflow-hidden {background:transparent !important;}
body .Box-body {background:#272c32 !important; border:2px solid #272c32 !important;border-radius:3px !important;}
body .markdown-body {background:#272c32 !important;color:#fff !important;border-radius:3px; font-family: 'Karla', body sans-serif !important;padding:2vh 1.5vw !important;}
body .markdown-body pre {background:#31383f !important;color:#fff !important;font-family: 'Karla', body sans-serif !important;}
body .markdown-body pre code {font-family: 'Karla', body sans-serif !important;}
body .blob-code-inner,.blob-num, body .blob-code-inner span, body .final-path, body .follow-list-info, body .Counter {color:#fff;font-family: 'Karla', body sans-serif !important;}
body ::-webkit-scrollbar {width:5px;height:5px;}
body ::-webkit-scrollbar-track {background:#fff;}
body ::-webkit-scrollbar-thumb {background:#24292e;}
body .tabnav {margin-top:4vh !important;}
body .select-menu-modal {background:#24292e !important;color:#fff !important;}
body .select-menu-header {background:#090b0c !important;border:0px !important;color:#fff;}
body .menu-heading {background:#1d2125 !important;border:0px !important;color:#fff;}
body .select-menu-title {color:#fff !important;border:0px !important}
body .select-menu-item {background:#24292e !important;color:#fff !important;border:0px !important;}
body .select-menu-item:hover {background:#272c32 !important;}
body .d-inline-block svg rect {fill: url(#black) #272c32 !important;}
body .emoji-picker-emoji-width {background-color:#24292e !important;border-radius:0px !important;}
body .blankslate {background:#24292e !important;border:0px !important;}
body .protip code {background:#24292e !important;}
body .js-selected-navigation-item {background:transparent !important;border:0px !important;}
body .select-menu-text-filter {background:#090b0c !important;border:0px !important;}
body .flex-auto h4, body .text-small span, body .text-small {color:#fff !important;}
body .ScreenshotCarousel {border:0px !important;}
body .ScreenshotCarousel-navitem {border:0px !important;background-color:#24292e !important;}
body .ScreenshotCarousel-navitem.selected {border:0px !important;background-color:#090b0c !important;}
body .border-gray-light {border:0px !important;background:transparent !important;}
body .position-relative > .position-absolute {background:transparent !important;}
body .position-relative {background:transparent}
body .Story, body .topic-box {background-color:#24292e !important;border-radius:5px !important;margin-right:10px;}
body .pagination span, body .pagination a {background-color:#24292e !important;border:0px !important;}
body .pagination .current {background-color:#272c32 !important;border:0px !important;}
body .bg-gray-light {background-color:#31383f !important;}
body .user-status-container {background:#24292e !important;border-radius:0px 0px 5px 5px;border:0px !important}
body .user-status-container h3 {background:transparent;border:0px !important;} 
body .repository-lang-stats-numbers li a {color:#fff !important;}
body .lang {color:#fff !important;}
body .gh-header {background:transparent !important;border-radius:5px;}
body .gh-header-meta, body .timeline-comment-wrapper {border:0px !important; color:#fff;}
body .timeline-comment-header, body .comment-form-head {background:#24292e !important; color: #fff !important;border:0px !important;}
body .edit-comment-hide {background-color:#272c32; color:#fff; border:0px;}
body .menu {background-color:#24292e; color:#fff; border:0px;}
body .menu > .menu-item:hover {background-color:#272c32 !important;}
body .menu-item {border:0px !important;}
body .menu-item.selected {background:#272c32 !important;}
body .timeline-comment {border:0px !important;}
body .discussion-timeline-actions {background:transparent;border:0px;}
body .AvatarStack-body {background:transparent !important;}
body .Subhead {border:0px !important;}
body .info {color:#fff !important;}
body .boxed-group .heading, body .boxed-group > h3 {background:#24292e;border:0px !important;}
body .boxed-group-inner {background:#272c32;border:0px !important;}
body text {fill:#fff;}
body table.capped-list th {background:#24292e;color:#fff;border:0px;}
body table.capped-list td {color:#fff;border:0px;}
body table.capped-list tr {background:#272c32 !important;color:#fff !important;border:0px !important;}
body .top-domains-icon {background:#fff;}
body .Box-row {border:0px !important;}
body .table-list-header {background:#272c32 !important;border:0px !important;}
body .table-list, body .table-list-cell {border:0px !important;}
body .select-menu-tabs {background:#090b0c !important;padding-top:10px;border:0px !important}
body .select-menu-tab-nav {border:0px !important;color:#fff !important;}
body .select-menu-tabs .select-menu-tab-nav[aria-selected=true] {background:#24292e  !important;color:#fff !important;}
body .project-header {background:#31383f !important;}
body .member-suggestion {background:#24292e !important;color:#fff !important;}
body .member-suggestion:hover {background:#272c32 !important;}
body .saved-reply-form, body .tabnav-tab.selected, body .drag-and-drop {border:0px !important;color:#fff !important;}
body .tabnav-tab.selected {background:#31383f !important;}
body .auth-form-header {color:#fff !important;}
body .auth-form-body {background-color:#24292e !important;border:0px !important;}
body .steps {border:0px !important;}
body .steps li {background-color:#272c32 !important;border:0px !important;color:#fff !important;}
body .steps li.current {background-color:#24292e !important;}
body .plan-choice--experiment {background-color:#272c32 !important;}
body .plan-choice--experiment.open {background-color:#24292e !important;}
body .bg-blue-light {background-color:#24292e !important;}
body .file {border:0px !important;}
body .file-header {background-color:#31383f !important;color:#fff !important;border:0px !important;}
body .cm-s-github-light, body .CodeMirror-lines {background-color:#24292e !important;color:#fff !important;border:0px !important;}
body .cm-string {color:#fff !important;}
body .CodeMirror-gutters {background-color:#272c32 !important;color:#fff !important;border:0px !important;}
body .tabnav-tab {color:#fff !important;}
body .commit-form {position:relative;top:-2.5vh;border:0px !important;}
body .commit-form:after, body .commit-form:before {border:0px !important;}
body .files tr {background-color:#272c32 !important;color:#fff !important;border:0px !important;}
body .js-flash-container {background-color:#272c32 !important;color:#fff !important;border:0px !important;}
body .files tr td, body .repo-file-upload-target h2, body .repo-file-upload-target {color:#fff !important;}
body .repo-file-upload-progress, body .repo-file-upload-meter, body .branch-name {background:#24292e !important;color:#fff !important;border:0px !important;}
body .markdown-body img {background:transparent !important;}
body .commits-list-item.navigation-focus, body .commits-list-item[aria-selected=true] {background:#272c32 !important;}
body .full-commit {background:#24292e !important;border:0px !important;color:#fff !important;}
body .full-commit span {color:#fff !important;}
body .full-commit .commit-meta {background:#272c32 !important;border:0px !important;color:#fff !important;}
body .full-commit p.commit-title {color:#fff !important;}
body .signed-commit-badge.verified {background:#3FDE64;color:#fff !important; border-color:#3FDE64 !important;}
body .commit-group-title .octicon-git-commit {background:#272c32 !important;}
body .blob-num-expandable, body .blob-num-hunk {background:#24292e !important;}
body .blob-code-hunk {background:#272c32 !important;}
body .thread-subscription-status {background:#272c32 !important;border:0px !important;}
body .block-diff-added {background:#3FDE64 !important;}
body .block-diff-deleted {background:#FF3F3C !important;}
body .block-diff-neutral {background:#272c32 !important;}
body .blob-num-addition {background:#3FDE64 !important;}
body .blob-num-deletion {background:#FF3F3C !important;}
body .text-red {color:#FF3F3C !important;}
body .text-green {color:#6AD783 !important;}
body .diff-table, body .data {border:0px !important;border-color:transparent !important;}
body .blob-expanded .blob-code, body .blob-expanded .blob-num {background:#272c32 !important;border:0px !important;}
body .timeline-comment {background:#31383f !important;border:0px !important;}
body .timeline-comment-wrapper>.timeline-comment:after, body .timeline-comment-wrapper>.timeline-comment:before, body .timeline-new-comment .timeline-comment:after, body .timeline-new-comment .timeline-comment:before {display:none !important;}
body .comment-reactions.has-reactions {border:0px !important;}
body .reaction-summary-item {border:0px !important;background:#24292e !important;color: #fff !important;}
body .tint-box, body .capped-card-content {border:0px !important;background:#24292e !important;color: #fff !important;}
body .diffstat-summary {color:#fff !important;}
body .diffstat-summary strong, body .diffstat-summary span {color:#fff !important;}
body .diffstat-summary a {text-decoration:underline;}
body .summary-stats li {border:0px !important;}
body .summary-stats li a:hover {background:#272c32 !important;}
body .discussion-sidebar-item, body .discussion-sidebar-heading {color:#fff !important;}
body .reason {padding:5px !important;}
body .form-select:focus {outline:none !important;box-shadow:none !important;}
body .form-control:focus {outline:none !important;box-shadow:none !important;}
body .tabnav {border:0px !important;}
body .tabnav-tab.selected {background:#272c32 !important; padding:3px 8px !important;}
body .network-tree {content:url("https://raw.githubusercontent.com/imfunniee/gitark/master/assets/gitark-link.png");}
body .network .current-repository {background:#272c32 !important;padding:3px 8px !important;}
body .btn-link, body .commit-group-title, body .text-gray-light, body .gh-header-number {color:#dfdfdf !important;}
body .signed-commit-header {background:#272c32 !important;border:0px !important;}
body .topic-tag-action {background:#24292e !important;border:0px !important;}
body .delete-topic-button, body .delete-topic-link {background:#272c32 !important;border:0px !important;color:#fff !important;}
body .gh-header .gh-header-sticky.is-stuck+.gh-header-shadow {background:#24292e !important;border:0px !important;color:#fff !important;box-shadow:0px 0px 20px rgba(0,0,0,0.1) !important;}
body .branch-action-body {background:#24292e !important;border:0px !important;}
body .marketplace-product-callout {background:#272c32 !important;color:#fff !important}
body .branch-action-item {background:#24292e !important;border:0px !important;}
body .marketplace-product-callout .branch-action-item-icon {background:#272c32 !important;}
body .octicon > path {fill:#fff !important;}
body .commit-icon .octicon {background:#272c32 !important;}
body .branch-action-body .merge-branch-form, body .branch-action-body .merge-message {background:#272c32 !important;border:0px !important;}
body .discussion-timeline:before {display:none !important;}
body .new-discussion-timeline .closed-banner {background:transparent;border:0px !important;}
body .discussion-item-icon {color:#fff !important;border:2px solid transparent !important;}
body .discussion-item-header {color:#fff !important;}
body .flash {background:#1d2125 !important; color:#fff !important; border:0px !important;}
body .markdown-body table tr {background:#24292e !important;}
body .markdown-body table th {border-color:#31383f !important;}
body mark {color:#000 !important;}
body .notification-thread-subscription:hover {background:#272c32 !important;}
body .issue-card {background:#272c32 !important;}
body .project-header {padding-bottom:15px !important;}
body .follow-list {padding-top:15px !important;}
body .pl-c{color:#959da5 !important}.pl-c1,.pl-s .pl-v{color:#c8e1ff !important}.pl-e,.pl-en{color:#b392f0 !important}.pl-s .pl-s1,.pl-smi{color:#f6f8fa !important}.pl-ent{color:#7bcc72 !important}.pl-k{color:#ea4a5a !important}.pl-pds,.pl-s,.pl-s .pl-pse .pl-s1,.pl-sr,.pl-sr .pl-cce,.pl-sr .pl-sra,.pl-sr .pl-sre{color:#79b8ff !important}.pl-ml,.pl-v{color:#fb8532 !important}.pl-bu{color:#d73a49!important}.pl-ii{color:#fafbfc!important;background-color:#d73a49!important}.pl-c2{color:#fafbfc !important;background-color:#d73a49 !important}.pl-c2::before{content:"^M" !important}.pl-sr .pl-cce{font-weight:700 !important;color:#7bcc72 !important}.pl-mh,.pl-mh .pl-en,.pl-ms{font-weight:700 !important;color:#0366d6 !important}.pl-mi{font-style:italic !important;color:#f6f8fa !important}.pl-mb{font-weight:700 !important;color:#f6f8fa !important}.pl-md{color:#b31d28 !important;background-color:#ffeef0 !important}.pl-mi1{color:#176f2c !important;background-color:#f0fff4 !important}.pl-mc{color:#b08800 !important;background-color:#fffdef !important}.pl-mi2{color:#2f363d !important;background-color:#959da5 !important}.pl-mdr{font-weight:700 !important;color:#b392f0 !important}.pl-mo{color:#0366d6 !important}.pl-ba{color:#ffeef0 !important}.pl-sg{color:#6a737d !important}.pl-corl{text-decoration:underline !important;color:#79b8ff !important}#readme td{background-color:#272c32 !important;border-color:#31383f !important;border-width:.15em !important}#readme td a{font-weight:600 !important}#readme .markdown-body.entry-content.p-5 h2{border-color:#31383f !important;border-width:.09em !important}#readme .markdown-body.entry-content.p-5 h1{border-color:#31383f;border-width:.09em !important}
body .range-editor {background:#24292e !important;border:0px !important;color:#fff;}
body ul.comparison-list>li.title {background:#1d2125 !important;border:0px !important;color:#fff;}
body .compare-pr-placeholder, body ul.comparison-list>li {background:#272c32 !important;border:0px !important;color:#fff !important;}
body ul.comparison-list {border:0px !important;}
body .compare-pr-placeholder p {color:#fff !important;}
body .blob-code-addition {background:#6CF38B !important;}
body .blob-code-deletion {background:#FF4E4E !important;}
body .blob-code-deletion .x {background:#FF3F3C !important;}
body .blob-code-addition .x {background:#3FDE64 !important;}
body .blob-code-addition span span {color:#fff !important;}
body .blob-code-deletion span span {color:#fff !important;}
body .tree-browser-result.navigation-focus, body .tree-browser-result[aria-selected=true] {background-color:#272c32 !important;}
body .uploaded-files.not-populated+.drop-target p {background-color:#272c32 !important;}
body hr {border-color:#31383f;}
body .upload-progress {box-shadow:none !important}
body .tabnav-tabs {padding:6px 10px !important}
body .profile-timeline.discussion-timeline .profile-timeline-month-heading:after {background-color:#1d2125 !important;}
body .profile-rollup-wrapper+.profile-rollup-wrapper {border-color:#272c32 !important;}
body .reponav-item .Counter {color:#fff !important;}
body .breadcrumb strong.final-path {color:#7d7d7d;}
body mark {color:#7d7d7d !important;}
body .ais-SearchBox-input {background:#1d2125 url("/assets/images/octicons/search.svg") no-repeat 6px;box-shadow:none !important;color:#fff !important;border-color:#1d2125 !important;}
body .ais-Hits-item:hover {background:#24292e !important;}
body .gutter {padding-top:4vh !important;}
body .btn-mktg {border-color:#fff;color:#fff;}
body .btn-mktg:hover {border-color:#fff;background-color:#fff !important;color:#1074e7 !important;}
body #homepages {background:#24292e !important;}
body #search-results-container {background:#272c32 !important;}
body .search-result-intro .ais-Highlight-highlighted {border-color:#7d7d7d !important;}
body .lead-mktg p {color:#7d7d7d !important;}
body .empty-cell {background: #31383f !important}
